.main_home {
  margin-top: 20px;
  width: 100%;
}

.dropdown_select {
  width: 100%;
}

.location-icon-name {
  width: 100%;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  display: flex !important;
}

.css-1869usk-MuiFormControl-root {
  width: 100%;
}
